<!DOCTYPE html>
<html>
	<head>
		<title>{$langHtml.common.relatedInformation} - {$langHtml.common.systemTitle}</title>
		{include file="public/head" /}
		<script type="text/javascript" src="/static/admin/js/pl.js"></script>
	</head>
	<body style="padding:0px; box-sizing: border-box;">
		<div class="header">
		</div>
		<div class="layui-wrap">
			<div>
				<form action="" class="layui-form" id="listForm" method="post">
					<table id="dataTable" lay-filter="dataTable"></table>
				</form>
			</div>
		</div>
	</body>
</html>
<script type="text/html" id="toolbarDemo">
	<button type="button" class="layui-btn layui-btn-sm  layui-bg-color" lay-event="add" ><i class="layui-icon layui-icon-add-1"></i>{$langHtml.common.add}</button>
</script>
<script type="text/html" id="state">
	<input type="checkbox" name="pass" value="{{d.id}}" lay-skin="switch" lay-text="{$langHtml.common.shield}|{$langHtml.common.unshielded}" lay-filter="pass" {{# if(d.pass==0){ }} checked {{# } }}>
</script>
<script type="text/html" id="operateDemo">
	<div class="layui-clear-space">
		<button type="button" class="layui-btn layui-btn-xs layui-bg-color" lay-event="edit">
			<i class="layui-icon layui-icon-edit"></i>{$langHtml.common.edit}
		</button>
		<button type="button" class="layui-btn layui-bg-red layui-btn-xs" lay-event="del">
			<i class="layui-icon layui-icon-delete"></i>{$langHtml.common.delete}
		</button>
  	</div>
</script> 
<script type="text/javascript">
	layui.use(function(){
		form = layui.form;
		$ = layui.jquery;
		var table = layui.table;

		var langText = {:json_encode($langHtml.common)};
		var colsInit = [
			{filed: 'state', title: langText.state, align: 'center', width: 100, templet: '#state'},
		]

		var initData = {
			table:table,
			elem: 'dataTable',
			data: {:json_encode($info)},
			url: '{$Request.root}/{$route}/',
			langText: langText,
			colsInit: colsInit,
			isPage: false,
			isTime: false,
			isCheckbox: false,
			isState: false,
			isTool: false,
			isToolBar: false,
			isEdit: false,
			height: 'full'
		}

		tableInit(initData);

		toolInit(initData, {del: 'pl_info_del', edit: 'pl_info_edit'});

		toolbarInit(initData,'listForm',{add: 'pl_info_add?pl_id={$conf.pl_id??""}&sy_id={$conf.sy_id??""}'});

		editInit(initData,'listForm',{make: 'pl_info_make'});

		pl_state(initData.url + 'pl_info_make','pass','id');
	});
</script>
{include file="public/footer" /}