<!DOCTYPE html>
<html>
<head>
	{:showseo()}
	{include file="public/head"}
</head>
	<body>
		<div class="wrap">
			{include file="public/header"}
			<!-- main -->
			<div class="ny1">
				<div class="nydao">
					<div class="container">
						<a href="/">首页</a> 
						<a>></a> 
						<a href="/product/" class="cur">商品目录</a>
					</div>
				</div>
				<div class="ny1-con">
					<div class="container">
						<div class="ny1-nav-con">
							<ul class="flex">
								<li class="cur"><a href="/product/">全部分类</a></li>
								{volist name="category" id="cateVal"}
								<li><a href="/product/category/{$cateVal.id_lm}">{$cateVal.title_lm}</a></li>
								{/volist}
							</ul>
						</div>
						<br>
					</div>
				</div>
			</div>
			<!-- main -->
			{include file="public/footer"}
		</div>
	</body>
</html>