
DB_TYPE = mysql
DB_HOST = {DB_HOST}
DB_NAME = {DB_NAME}
DB_USER = {DB_USER}
DB_PASS = {DB_PASS}
DB_PORT = {DB_PORT}
DB_PREFIX = {DB_PREFIX}
DB_CHARSET = utf8


CACHE_DRIVER=redis
REDIS_HOST={REDIS_HOST}
REDIS_PASSWORD={REDIS_PASSWORD}
REDIS_PORT={REDIS_PORT}
REDIS_DB={REDIS_DB}
REDIS_SELECT=0
REDIS_TIMEOUT=0
REDIS_PREFIX=

API_TRANS_CURL_TIMEOUT=10
API_TRANS_URL=
API_TRANS_APP_ID=
API_TRANS_SEC_KEY=

THINKAI_KEY=
THINKAI_MODEL=

DEFAULT_LANG = zh-cn

JWT_SECRET = "your-very-long-and-random-secret-key"
JWT_ALGO = "HS256"
JWT_EXPIRE = 7200   # 过期时间（秒），2小时
