{extend name="common/lm/setconfig/setconfig" /}

{block name="header"}
<a href="javascript:;" onclick="tab(this,'layui-setup')"><span class="this">{$langHtml.common.system}{$langHtml.common.settings}</span></a>
<a href="javascript:;" onclick="tab(this,'layui-information')"><span>{$langHtml.common.information}{$langHtml.common.settings}</span></a>
<div></div>
{/block}

{block name="setup"}
<div id="layui-setup">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.systemID}</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="sy[id]" id="id" placeholder="" value="{if (!empty($conf.sy.id))}{$conf.sy.id}{/if}">
			</div>
			<div class="layui-form-mid layui-word-aux">{$langHtml.common.systemIDTip}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.systemName}</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="sy[name]" id="name" placeholder="" value="{if (!empty($conf.sy.name))}{$conf.sy.name}{/if}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.systemPre}</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="sy[pre]" id="pre" placeholder="" value="{if (!empty($conf.sy.pre))}{$conf.sy.pre}{/if}">
			</div>
			<div class="layui-form-mid layui-word-aux">{$langHtml.common.systemPreTip}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.informationTableName}</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="sy[table_co]" id="table_co" placeholder="" value="{if (!empty($conf.sy.table_co))}{$conf.sy.table_co}{/if}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.reply}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="sy[huifu]" value="true" {if (isset($conf.sy.huifu))} {:$conf.sy.huifu == true ? 'checked' : '';} {/if} title="{$langHtml.common.use}">
				<input type="radio" name="sy[huifu]" value="false" {if (isset($conf.sy.huifu))} {:$conf.sy.huifu == false ? 'checked' : '';} {/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use}{$langHtml.common.send}{$langHtml.common.email}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="sy[send]" value="true" {if (isset($conf.sy.send))} {$conf.sy.send == 'true' ? 'checked' : '';} {/if} title="{$langHtml.common.use}">
				<input type="radio" name="sy[send]" value="false" {if (isset($conf.sy.send))} {$conf.sy.send == 'false' ? 'checked' : '';} {/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
	</form>
	<div class="layui-form-item">
		<div class="layui-input-block layui-input-block-large">
			<button type="button" class="layui-btn layui-bg-color" onclick="save('{$Request.root}/{$route}/setconfig',1)">{$langHtml.common.save}</button>
		</div>
	</div>
</div>
{/block}

{block name="category"}
{/block}

{block name="information"}
<div class="layui-box" id="layui-information" style="display: none;">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.title}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[title]" value="true" {if (isset($conf.co.title))}{:$conf.co.title == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[title]" value="false" {if (isset($conf.co.title))}{:$conf.co.title == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.num}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[num]" value="true" {if (isset($conf.co.num))}{:$conf.co.num == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[num]" value="false" {if (isset($conf.co.num))}{:$conf.co.num == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.name}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[rename]" value="true" {if (isset($conf.co.rename))}{:$conf.co.rename == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[rename]" value="false" {if (isset($conf.co.rename))}{:$conf.co.rename == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.sex}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[sex]" value="true" {if (isset($conf.co.sex))}{:$conf.co.sex == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[sex]" value="false" {if (isset($conf.co.sex))}{:$conf.co.sex == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.phone}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[phone]" value="true" {if (isset($conf.co.phone))}{:$conf.co.phone == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[phone]" value="false" {if (isset($conf.co.phone))}{:$conf.co.phone == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.fax}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[fax]" value="true" {if (isset($conf.co.fax))}{:$conf.co.fax == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[fax]" value="false" {if (isset($conf.co.fax))}{:$conf.co.fax == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.email}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[email]" value="true" {if (isset($conf.co.email))}{:$conf.co.email == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[email]" value="false" {if (isset($conf.co.email))}{:$conf.co.email == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.qq}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[qq]" value="true" {if (isset($conf.co.qq))}{:$conf.co.qq == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[qq]" value="false" {if (isset($conf.co.qq))}{:$conf.co.qq == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.wechat}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[wx]" value="true" {if (isset($conf.co.wx))}{:$conf.co.wx == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[wx]" value="false" {if (isset($conf.co.wx))}{:$conf.co.wx == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.company}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[compname]" value="true" {if (isset($conf.co.compname))}{:$conf.co.compname == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[compname]" value="false" {if (isset($conf.co.compname))}{:$conf.co.compname == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.address}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[address]" value="true" {if (isset($conf.co.address))}{:$conf.co.address == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[address]" value="false" {if (isset($conf.co.address))}{:$conf.co.address == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.post}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[post]" value="true" {if (isset($conf.co.post))}{:$conf.co.post == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[post]" value="false" {if (isset($conf.co.post))}{:$conf.co.post == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label layui-form-label-large">{$langHtml.common.use} {$langHtml.common.content}</label>
			<div class="layui-input-block layui-input-block-large">
				<input type="radio" name="co[z_body]" value="true" {if (isset($conf.co.z_body))}{:$conf.co.z_body == true ? 'checked' : '';}{/if} title="{$langHtml.common.use}">
				<input type="radio" name="co[z_body]" value="false" {if (isset($conf.co.z_body))}{:$conf.co.z_body == false ? 'checked' : '';}{/if} title="{$langHtml.common.notUse}">
			</div>
		</div>
	</form>
	<div class="layui-form-item">
		<div class="layui-input-block layui-input-block-large">
			<button type="button" class="layui-btn layui-bg-color" onclick="save('{$Request.root}/{$route}/setconfig',1)">{$langHtml.common.save}</button>
		</div>
	</div>
</div>
{/block}