<!DOCTYPE html>
<html>
	<head>
		<title>图片批量导入</title>
		{include file="public/head" /}
	</head>
	
	<body style="padding:10px; box-sizing: border-box;">
		<div class="header" style="margin-bottom:20px;">
			<div></div>
		</div>
		<div class="layui-wrap">
			<div id="layui-setting">
				<form class="layui-form" id="settingForm">
					<div class="layui-form-item">
						<label class="layui-form-label">使用分类</label>
						<div class="layui-input-block">
							<input type="radio" name="sy[need_lm]" lay-filter="need_lm" {if (isset($plConf.imgUploadConf.sy.need_lm))} {:$plConf.imgUploadConf.sy.need_lm == true ? 'checked' : '';} {/if} value="true" title="使用">
							<input type="radio" name="sy[need_lm]" lay-filter="need_lm" {if (isset($plConf.imgUploadConf.sy.need_lm))} {:$plConf.imgUploadConf.sy.need_lm == false ? 'checked' : '';} {/if} value="false" title="不使用">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">权限前缀</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="sy[pre]" id="pre" placeholder="" value="{if(!empty($plConf.imgUploadConf.sy.pre))}{$plConf.imgUploadConf.sy.pre}{/if}">
						</div>
						<div class="layui-form-mid layui-word-aux">每个系统的权限前缀标识  例如：新闻系统的权限前缀为news</div>
					</div>
					{if (!empty($plConf.imgUploadConf.sy.need_lm) && $plConf.imgUploadConf.sy.need_lm == true)}
					<div class="layui-form-item" id="tableLm">
						<label class="layui-form-label">分类表名</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="sy[table_lm]" id="table_lm" placeholder="" value="{if(!empty($plConf.imgUploadConf.sy.table_lm))}{$plConf.imgUploadConf.sy.table_lm}{/if}">
						</div>
					</div>
					{else}
					<div class="layui-form-item" id="tableLm">
						<label class="layui-form-label">分类表名</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="sy[table_lm]" id="table_lm" placeholder="" value="">
						</div>
					</div>
					{/if}
					<div class="layui-form-item">
						<label class="layui-form-label">信息表名</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="sy[table_co]" id="table_co" placeholder="" value="{if(!empty($plConf.imgUploadConf.sy.table_co))}{$plConf.imgUploadConf.sy.table_co}{/if}">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">上传设置</label>
						<div class="layui-inline">
							<div class="layui-form-item mb0" id="imgDiv">
								<div class="layui-form-item">
									<label class="layui-form-label layui-form-label-auto">上传目录</label>
									<div class="layui-input-inline">
										<input type="text" class="layui-input" name="up[path]" value="{if(!empty($plConf.imgUploadConf.up.path))}{$plConf.imgUploadConf.up.path}{/if}">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label layui-form-label-auto">上传大小</label>
									<div class="layui-input-inline">
										<input type="text" class="layui-input" name="up[maxsize]" value="{if(!empty($plConf.imgUploadConf.up.maxsize))}{$plConf.imgUploadConf.up.maxsize}{/if}">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label layui-form-label-auto">上传提醒</label>
									<div class="layui-input-inline ">
										<input type="text" class="layui-input" name="up[text]" value="{if(!empty($plConf.imgUploadConf.up.text))}{$plConf.imgUploadConf.up.text}{/if}">
									</div>
								</div>
								<div class="layui-form-item mb0 ml15">
									<div class="layui-form-mid layui-form-midd">　缩略图</div>
									<input type="radio" name="up[sm]" {if(!empty($plConf.imgUploadConf.up.sm))}{$plConf.imgUploadConf.up.sm == 'yes' ? 'checked' : '';}{/if} value="yes" title="是" lay-filter="um">
									<input type="radio" name="up[sm]" {if(!empty($plConf.imgUploadConf.up.sm))}{$plConf.imgUploadConf.up.sm == 'no' ? 'checked' : '';}{/if} value="no" title="否" lay-filter="um"> 
								</div>
								<div class="layui-form-item mb0" id="umDiv" {if(!empty($plConf.imgUploadConf.up.sm))}{$plConf.imgUploadConf.up.sm == 'yes' ? '' : 'style="display: none;"';}{/if}>
									<div class="layui-block">
										<label class="layui-form-label layui-form-label-auto">原图：默认名称为d，列表图：默认名称为空，其他缩略图名称可自取</label>
									</div>
									{if(!empty($plConf.imgUploadConf.sm))}
									{volist name="plConf.imgUploadConf.sm" id="sv"}
									<div class="layui-form-item mb5">
										<label class="layui-form-label layui-form-label-auto">名称</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" name="s_nam[]" value="{$sv.s_nam}">
										</div>
										<label class="layui-form-label layui-form-label-auto">类型</label>
										<div class="layui-input-inline">
											<select name="s_typ[]" class="layui-form-select">
												<option value="true" {$sv.s_typ == 'true' ? 'selected' : '';}>固定尺寸</option>
												<option value="false" {$sv.s_typ == 'false' ? 'selected' : '';}>不超过尺寸</option>
											</select>
										</div>
										<label class="layui-form-label layui-form-label-auto">宽度</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" name="s_wid[]" value="{$sv.s_wid}">
										</div>
										<label class="layui-form-label layui-form-label-auto">高度</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" name="s_hei[]" value="{$sv.s_hei}">
										</div>
										<div class="layui-input-inline">
											{if($key == 0)}
											<button type="button" class="layui-btn" onclick="addImgConf(this,'')"><i class="layui-icon layui-icon-add-circle"></i></button>
											{else}
											<button type="button" class="layui-btn" onclick="removeImgConf(this)"><i class="layui-icon layui-icon-reduce-circle"></i></button>
											{/if}
										</div>
									</div>
									{/volist}
									{else}
									<div class="layui-form-item mb5">
										<label class="layui-form-label layui-form-label-auto">名称</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" name="s_nam[]" value="">
										</div>
										<label class="layui-form-label layui-form-label-auto">类型</label>
										<div class="layui-input-inline">
											<select name="s_typ[]" class="layui-form-select">
												<option value="true" >固定尺寸</option>
												<option value="false" >不超过尺寸</option>
											</select>
										</div>
										<label class="layui-form-label layui-form-label-auto">宽度</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" name="s_wid[]" value="">
										</div>
										<label class="layui-form-label layui-form-label-auto">高度</label>
										<div class="layui-input-inline">
											<input type="text" class="layui-input" name="s_hei[]" value="">
										</div>
										<div class="layui-input-inline">
											<button type="button" class="layui-btn" onclick="addImgConf(this,'')"><i class="layui-icon layui-icon-add-circle"></i></button>
										</div>
									</div>
									{/if}
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="layui-form-item" style="margin-top:10px;">
					<div class="layui-input-block ">
						<button type="button" class="layui-btn" onclick="save('{$Request.root}/{$route}/imgUploadSettings',1)">保存</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	layui.use(['layer','form'],function(){
		var form = layui.form;
		layer = layui.layer;
		$ = layui.jquery;
		form.on('checkbox(s_email_all)', function(data){
			$('input[name="fields[]"]').each(function(index,item){
				if(data.elem.checked){
					item.checked = true;
				}else{
					item.checked = false;
				}
			})
			form.render();
		});
		form.on('radio(need_lm)', function(data){
			if(data.value == 'true'){
				$('#tableLm').show();
			}else{
				$('#tableLm').hide();
			}
		});
		form.on('radio(um)', function(data){
			console.log(data.elem.value);
			if(data.elem.value == 'yes'){
				$('#umDiv').show();
			}else{
				$('#umDiv').hide();
			}
		})
	});
	function addImgConf(self,name){
		str = '<div class="layui-form-item mb5">';
		str += '<label class="layui-form-label layui-form-label-auto">名称</label>';
		str += '<div class="layui-input-inline"><input type="text" class="layui-input" name="'+name+'s_nam[]"></div>';
		str += '<label class="layui-form-label layui-form-label-auto">类型</label>';
		str += '<div class="layui-input-inline"><select name="'+name+'s_typ[]"><option value="true">固定尺寸</option><option value="false">不超过尺寸</option></select></div>';
		str += '<label class="layui-form-label layui-form-label-auto">宽度</label>';
		str += '<div class="layui-input-inline"><input type="text" class="layui-input" name="'+name+'s_wid[]"></div>';
		str += '<label class="layui-form-label layui-form-label-auto">高度</label>';
		str += '<div class="layui-input-inline"><input type="text" class="layui-input" name="'+name+'s_hei[]"></div>';
		str += '<div class="layui-input-inline"><button type="button" class="layui-btn" onclick="removeImgConf(this)"><i class="layui-icon layui-icon-reduce-circle"></i></button></div>';
		str += '</div>';
		$(self).parent().parent().parent().append(str);
		layui.form.render('select');  
	}
	function removeImgConf(self){
		$(self).parent().parent().remove();
	}
</script>
{include file="public/footer" /}