{extend name="common/co/default" /}

{block name="search"}
	{include file="common/co/search" /}
{/block}

{block name="toolbar"}
<script type="text/html" id="toolbarDemo">
	<button type="button" class="layui-btn layui-btn-sm layui-bg-color" lay-event="add" ><i class="layui-icon layui-icon-add-1"></i>{$langHtml.common.add}</button>
	<button type="button" class="layui-btn layui-btn-sm layui-bg-red" lay-event="recycle">
		<i class="layui-icon layui-icon-delete"></i>{$langHtml.common.recycle}
	</button>
	<button type="button" class="layui-btn layui-btn-sm layui-bg-red" lay-event="del" >{$langHtml.common.deleteSelected}</button>
</script>
{/block}

{block name="state"}
<script type="text/html" id="state">
	<input type="checkbox" name="pass" value="{{d.id}}" lay-skin="switch" lay-text="{$langHtml.common.shield}|{$langHtml.common.unshielded}" lay-filter="pass" {{# if(d.pass==0){ }} checked {{# } }}>
</script>
{/block}

{block name="operate"}
	{include file="common/co/operate" /}
{/block}

{block name="script"}
	<script type="text/javascript">
		window.extraOptions = {
			colsInit: [
				{type: 'checkbox', fixed: 'left'},
				{field: 'id', title: 'ID', width: 60,  fixed: 'left', align: 'center',sort:'desc', fixed: 'left'},
				{field: 'username', title: '{$langHtml.common.username}', minwidth:300},
				{field: 'login_num', title: '{$langHtml.common.loginNum}', width: 160, align: 'center'},
				{field: 'wtime', title: '{$langHtml.common.addTime}', width: 160, sort:'desc',align: 'center'},
				{field: 'ltime', title: '{$langHtml.common.loginTime}', width: 160, sort:'desc',align: 'center'},
				{field: '', title: '{$langHtml.common.state}', width: 150, align: 'center',templet: '#state'},
				{field: '', title: '{$langHtml.common.operate}', width: 200, align: 'center',templet: '#operateDemo',fixed: 'right'}
			],
			isCheckbox: false,
			isPx: false,
			isId: false,
			isTitle: false,
			isTime: false,
			isState: false,
			recycleType: true,
		}
	</script>
	{include file="common/co/script" /}
{/block}
