<!DOCTYPE html>
<html>
	<head>
		<title>{$conf.sy.name} - {$langHtml.common.systemTitle}</title>
		{include file="public/head" /}
	</head>
	<body style="padding:10px; box-sizing: border-box;">
		<div class="header" style="margin-bottom:20px;">
			<div></div>
		</div>
		<div class="layui-wrap">
			<div id="layui-info">
				<form class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">{$langHtml.common.title}</label>
						<div class="layui-input-block">
							<input type="text" class="layui-input" name="title" placeholder="{$langHtml.common.enter}{$langHtml.common.title}" value="{$find.title??''}">
						</div>
					</div>{if ($conf.co.apname == true)}
					<div class="layui-form-item">
						<label class="layui-form-label">{$langHtml.common.apname}</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="apname" placeholder="{$langHtml.common.enter}{$langHtml.common.apname}" value="{$find.apname??''}">
						</div>
						<div class="layui-form-mid layui-word-aux">{$langHtml.common.apnameTip}</div>
					</div>
					{/if}
				</form>
				<div class="layui-form-item" style="margin-top:10px;">
					<div class="layui-input-block">
						<button type="button" class="layui-btn" onclick="save()">{$langHtml.common.save}</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{include file="public/footer" /}