<!DOCTYPE html>
<html>
<head>
	{:showseo(2,$find??'')}
	{include file="public/head" /}
</head>
	<body>
		<div class="wrap">
			{include file="public/header" /}
			<!-- main -->
			<div class="person about">
				<div class="container">
					<div class="person_con">
						<div class="person_left">
							<div class="person_lt">
								<img src="/static/index/images/per_01.png"> <h2>关于我们</h2>
							</div>
							<div class="person_ll">
								{volist name="navList" id="av"}
								<div class="person_lb">
									<div class="person_lbt">
										<img src="/static/index/images/per_02.png">
										<h3>{$av.title_lm}</h3>
									</div>
									<ul>
										{volist name="av.info" id="cv"}
										<li {if($cv.id == $find.id)}class="cur"{/if}><a href="{if(!empty($cv.link_url))}{$cv.link_url}{else}/about/{$cv.id}{/if}">{$cv.title}</a></li>
										{/volist}
									</ul>
								</div>
								{/volist}
							</div>
						</div>
						<div class="person_right about_right">
							<div class="about_tit">
								<h4>{$find.title}</h4>
							</div>
							<div class="about_text">
								<p>{:$find.z_body}</p>
							</div>
							{if($find.gallery_list)}
							<div class="about_honor">
								<div class="about_honor_wrap">
									{volist name="find.gallery_list" id="iv"}
									<div class="about_honor_item">
										<div class="about_honor_item_img">
											<img src="{$iv.path}" alt="{$iv.title}">
										</div>
										<div class="about_honor_item_tit">
											<p>{$iv.title}</p>
										</div>
									</div>
									{/volist}
								</div>
							</div>
							{/if}
						</div>
					</div>
				</div>
			</div>
			<!-- main -->
			{include file="public/footer" /}
		</div>
	</body>
</html>