<!DOCTYPE html>
<html>
<head>
	{:showseo()}
	{include file="public/head"}
</head>
	<body>
		<div class="wrap">
			<!-- main -->
			<div class="person">
				<div class="layui-form">
					<div class="layui-card">
						<div class="layui-card-header" style="text-align: center;">
							<h2>{$find.title ?? ''}</h2>
						</div>
						<div class="layui-card-header" style="text-align: center;">{$find.wtime ?? ''}</div>
						<div class="layui-card-body">
							{$find.content ?? ''}
						</div>
					</div>
				</div>
			</div>
			<!-- main -->
		</div>
	</body>
</html>